<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>day3</display-name>
	<servlet>
		<servlet-name>testServlet</servlet-name>
		<display-name>testServlet</display-name>
		<description></description>
		<servlet-class>test.testServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CalcServlet</servlet-name>
		<display-name>CalcServlet</display-name>
		<description></description>
		<servlet-class>test.CalcServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>asdf</servlet-name>
		<display-name>asdf</display-name>
		<description></description>
		<servlet-class>test.asdf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/testServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/CalcServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>asdf</servlet-name>
		<url-pattern>/asdf</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
